<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Foursquare</title>
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		
		<style>
			body{
				padding-top:40px;
			}
		</style>
	</head>
	<body>
		<div class="container" ng-app="foursquareApp" ng-controller="venueSearchCtrl">
			<form name="venueSearchForm" ng-submit="venueSearch()" class="input-group input-group-lg">
				<input name="searchInput" type="text" class="form-control" ng-model="search" ng-required="true" placeholder="Search for popular venues by area" />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-default" ng-disabled="venueSearchForm.searchInput.$pristine"><span class="glyphicon glyphicon-search"></span></button>
				</span>
			</form>
			
			<span>{{error}}</span>
		
			<div class="table-responsive" ng-show="venues">
				<table class="table table-striped">
					<tr>
						<th><a href="#" ng-click="orderField('name')">
							Name
							<span ng-show="field=='name' && toggle" class="glyphicon glyphicon-chevron-up"></span>
							<span ng-show="field=='name' && !toggle" class="glyphicon glyphicon-chevron-down"></span>
						</a></th>
						<th><a href="#" ng-click="orderField('location.formattedAddress')">
							Address
							<span ng-show="field=='location.formattedAddress' && toggle" class="glyphicon glyphicon-chevron-up"></span>
							<span ng-show="field=='location.formattedAddress' && !toggle" class="glyphicon glyphicon-chevron-down"></span>
						</a></th>
						<th><a href="#" ng-click="orderField('categories[0].name')">
							Category
							<span ng-show="field=='categories[0].name' && toggle" class="glyphicon glyphicon-chevron-up"></span>
							<span ng-show="field=='categories[0].name' && !toggle" class="glyphicon glyphicon-chevron-down"></span>
						</a></th>
					</tr>
					<tr ng-repeat="v in venues | orderBy:field:toggle">
						<td>{{v.name}}</td>
						<td>{{v.location.address}}, {{v.location.postalCode}}, {{v.location.city}}, {{v.location.country}}</td>
						<td>{{v.categories[0].name}}</td>
					</tr>
				</table>
			</div>
		</div>
		
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<!-- Latest JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		
		<script>
			var app = angular.module('foursquareApp', []);			
			app.controller('venueSearchCtrl', function($scope, $http){			
				$scope.venueSearch = function(){
					$http.get("https://api.foursquare.com/v2/venues/explore/?client_id=QZQDGQJ50Z3A1VMF43ILW1PE3WJPUPJPHJAEAICTFQVNCRSP&client_secret=5OKHLFBYTQSMZILDBANRMDR2ZSPRSQJ5TG2NX5EBDYYWXEEB&v=20161008&near=" + $scope.search)
					.success(function(data){
						$scope.venues = [];
						$scope.error = null;
						
						$scope.orderField = function(field){
							$scope.field = field;
							$scope.toggle = !$scope.toggle;
						}
						
						angular.forEach(data.response.groups[0].items, function(item){
							$scope.venues.push(item.venue);
						});
					})
					.error(function(data){
						$scope.venues = null;
						$scope.error = data;
					});
				}
			});
		</script>
	</body>
</html>